[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"]}
colorama = "*"
django = "==2.2.13"
django-environ = "*"
django-extensions = "*"
djangorestframework = "*"
psycopg2-binary = "*"
slackclient = "*"
social-auth-app-django = "*"
structlog = "*"

[dev-packages]
django-debug-toolbar = "*"
honcho = "*"
ipython = "*"
isort = "*"
pytest = "*"
pytest-django = "*"
yapf = "*"

[requires]
python_version = "3.6"
